In [1]:
#1
import numpy as np 
import pandas as pd
a = pd.Series([2,4,6,8])
b = pd.Series([1,3,5,7])
x = 0
y = 0
for i in range(len(a)-2):
    for j in range(len(b)-2):
        if (b[j+1] - b[j])==(b[j+2] - b[j+1]):
            x = b[j+1]-b[j]
    if (a[i+1]-a[i]) == (a[i+2]-a[i+1]):
        y = a[i+1]-a[i]
if x == y: 
    x,y ==y,x
print(x)

2

In [91]:
#3
import pandas as pd
import numpy as np
df = pd.read_csv('Data1.csv')
df.dropna(subset=['Date'], inplace = True)
df.dropna(axis=0,inplace=True)
df.to_numpy()
a = np.std(df,axis = 1)
b = np.mean(df,axis=1)
s = a/b
print(s)

0     0.768584
1     0.818103
2     0.674331
3     0.574353
4     0.761346
5     0.620591
6     0.711205
7     0.577680
8     0.506412
9     0.574384
10    0.641749
11    0.538791
12    0.538791
13    0.687370
14    0.735664
15    0.587488
16    0.464195
17    0.634895
19    0.664542
20    0.569411
21    0.707935
23    0.618288
24    0.552745
25    0.680743
26    0.537322
27    0.536486
29    0.581177
30    0.745492
31    0.544985
dtype: float64

In [93]:
#2
import pandas as pd
import numpy as np
df = pd.read_csv('Data1.csv')
df.dropna(inplace=True)
df.to_numpy()
np.std(df,axis=1)

0     136.250787
1     163.825174
2     107.555799
3      87.789905
4     136.280960
5      91.382096
6     120.904921
7     135.942513
8      59.136299
9      79.121347
10    102.567499
11     71.484032
12     71.484032
13    109.858964
14    124.198397
15     81.660884
16     57.235216
17     92.059763
19    101.176517
20     72.599931
21    117.375551
23     91.351998
24     72.962319
25    105.940653
26     71.195154
27     68.536031
29     83.108363
30    125.112117
31     69.485610
dtype: float64

In [26]:
#4
import numpy as np
arr = np.arange(25).reshape(5,5)
# arr1 = arr.astype('U10')
# arr1[0:,:] = 'a'
# arr1[1]=arr.astype('i')
# print(arr1)
arr1 = arr.astype('U10')
arr1
arr1[1] = arr.astype()

TypeError: data type 's' not understood